footer {
  .footer {
    background-color: black;
    min-width: 100%;
    min-height: 410px;
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "menu-left branding menu-right"
      "menu-social menu-social menu-social"
      "privacy privacy privacy";
    &__menu-left {
      grid-area: menu-left;
      margin: 0 auto;
      max-width: 328px;
      width: 100%;
    }
    &__branding {
      grid-area: branding;
      display: flex;
      align-items: end;
      justify-content: center;
      padding-top: 115px;
      height: 135px;
    }
    &__menu-right {
      grid-area: menu-right;
      margin: 0 auto;
      max-width: 328px;
      width: 100%;
    }
    &__menu-social {
      grid-area: menu-social;
      ul.menu {
        position: relative;
        display: flex;
        align-items: end;
        justify-content: center;
        &:before {
          content: "";
          position: absolute;
          left: 5.28%;
          right: 5.28%;
          top: 45.85%;
          bottom: 54.15%;
          border: 1px solid white;
          background-color: white;
        }
        .menu-item a {
          font-size: 23px;
          margin: 12px;
        }
      }
    }
    &__privacy {
      grid-area: privacy;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0;
      text-align: center;
      color: white;
      div {
        margin: 0 8px;
      }
      a {
        color: white;
      }
    }
    .menu {
      display: flex;
      align-items: end;
      justify-content: space-around;
      height: 135px;

      .menu-item a {
        color: white;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    .footer {
      min-height: 350px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px 100px 100px 50px;
      grid-template-areas:
        "branding branding"
        "menu-left menu-right"
        "menu-social menu-social"
        "privacy privacy";
      &__menu-left {
        grid-area: unset;
        margin: 0 auto;
        max-width: 320px;
        width: 100%;
      }
      &__branding {
        grid-area: branding;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        height: auto;
      }
      &__menu-right {
        grid-area: unset;
        margin: 0 auto;
        max-width: 320px;
        width: 100%;
      }
      &__menu-social {
        grid-area: menu-social;
        ul.menu {
          position: relative;
          display: flex;
          align-items: end;
          justify-content: center;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: unset;
            border: 1px solid white;
            background-color: white;
          }
          .menu-item a {
            font-size: 23px;
            margin: 12px;
          }
        }
      }
      &__privacy {
        grid-area: privacy;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0;
        text-align: center;
        color: white;
        div {
          margin: 0 8px;
        }
        a {
          color: white;
        }
      }
      .menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100px;
        padding: 20px 0;
        .menu-item a {
          color: white;
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0;
          text-align: left;
        }
      }
    }
  }
}
